<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceDirectories" value="D:\Programs\Modelio Open Source 3.7;C:\KAZ_KP_67_ESB1"/>
    <add key="DestinationDirectory" value="D:\Dest"/>
    <add key="ExecutableFile" value="modelio.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>